@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
}

:root {
  --primary: #00302e;
  --secondary: #FBDDBB;
}


/* Primary Color: #00302E */
/* Secondary Color: #FBDDBB */
/* Footer Color: #0B0D17 */
/* text Color: #ffffff */
